body{
  width: 400px;
  height: 500px;
  margin: 16px;
  background-color: #fff;
  min-width: 357px;
  overflow-x: hidden;
  font-family: "Meiryo";
}

img{
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 75px;
  height: 75px;
}
